
<% if @question.end_with? "?" %>
    <p>Silly question, get dressed and go to work!</p>
<% elsif @question == "I am going to work" %>
    <p>Great!</p>
   <% else %>
   <p> I don't care, get dressed and go to work!</p>
<% end %>

<%= link_to "Back to ask question", ask_path %>

<a href="../">Voltar a perguntar</a>